# Intermediate and Final Products

*.o
*.class
*.idea*
*.user
*.iml
*.pyc


# Temporary Files

*~
\#*


# OS-Specific Files

.DS_Store


# Generated and Copied Files

target/
mpf_components/target/
trunk/target/
trunk/protobuf/target/
trunk/workflow-manager/target/
trunk/markup/target/
trunk/mpf-install/target
trunk/node-manager/target/
trunk/video-overlay/target/
trunk/mpf-rest-client/target/
trunk/mpf-rest-api/target/

trunk/build/
trunk/detection/Java/target/
trunk/install/
trunk/interop/target/
trunk/java-hello-world/target/
trunk/mpf-system-tests/target/
trunk/mpf-system-tests/src/main/resources/

trunk/workflow-manager/src/test/resources/HelloWorldComponent.json
trunk/workflow-manager/src/test/resources/helloComponent.json

trunk/workflow-manager/src/main/resources/Actions.xml
trunk/workflow-manager/src/main/resources/Algorithms.xml
trunk/workflow-manager/src/main/resources/Pipelines.xml
trunk/workflow-manager/src/main/resources/Tasks.xml
trunk/workflow-manager/src/main/resources/nodeServicesPalette.json
trunk/workflow-manager/src/main/resources/nodeManagerConfig.xml

trunk/workflow-manager/src/main/webapp/resources/mytheme/downloads/MPFTextDetectionComponent.tar.gz

trunk/audio-video-utils/target/
trunk/audio-video-utils/target/
trunk/bin/mpf-scripts/dist/
trunk/bin/mpf-scripts/mpf.egg-info/

mpf_components/CPP/build/
mpf_components/CPP/target/

mpf_components/CPP/detection/CMakeLists.txt
mpf_components/CPP/detection/components.lst

mpf_components/Java/componentApi/target/
mpf_components/Java/componentExecutor/target/
mpf_components/Java/detection/sphinxSpeechDetection/target/


# Java and Eclipse Files

.classpath
.project
*.core.prefs


# Build Scripts

clean.pl
run.pl
build.pl
wfmwebapp.sh
integrationtest.sh


# Other Files

trunk/workflow-manager/src/main/resources/properties/mpf-private.properties
trunk/ansible/**/tasks/*.retry

node_modules