# Intermediate and Final Products
*.o
*.class
*.idea*
*.user
*.iml

# Temporary Files
*~
\#*

# OS-Specific Files
.DS_Store

# Generated and Copied Files
target/
trunk/target/
trunk/protobuf/target/
trunk/workflow-manager/target/
trunk/markup/target/
trunk/mpf-install/target
trunk/node-manager/target/
trunk/video-overlay/target/
trunk/mpf-rest-client/target/
trunk/mpf-rest-api/target/

trunk/build/
trunk/detection/Java/target/
trunk/install/
trunk/interop/target/
trunk/mpf-system-tests/target/

trunk/workflow-manager/node/
trunk/workflow-manager/src/main/webapp/resources/mytheme/downloads/OalprLicensePlateTextDetection.tar.gz

trunk/workflow-manager/src/test/node/
trunk/workflow-manager/src/test/npm
trunk/workflow-manager/src/test/output/
trunk/workflow-manager/src/test/resources/JavaTestDetection.json
trunk/workflow-manager/src/test/resources/JavaTestDetection.tar.gz
trunk/workflow-manager/src/test/resources/helloComponent.json
trunk/workflow-manager/src/test/resources/CplusplusHelloWorldComponent.json

trunk/audio-video-utils/target/
trunk/audio-video-utils/target/
trunk/bin/mpf-scripts/dist/

# IDE Files
cmake-build-debug
cmake-build-release
.classpath
.project
*.core.prefs
.settings

# Build Scripts
clean.pl
run.pl
build.pl
wfmwebapp.sh
integrationtest.sh

# npm generated
npm-debug.log
node_modules/

# Other Files
trunk/workflow-manager/src/main/resources/properties/mpf-private.properties
trunk/ansible/**/tasks/*.retry

# Python
*.egg-info
*.pyc
