<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ NOTICE                                                                    ~
  ~                                                                           ~
  ~ This software (or technical data) was produced for the U.S. Government    ~
  ~ under contract, and is subject to the Rights in Data-General Clause       ~
  ~ 52.227-14, Alt. IV (DEC 2007).                                            ~
  ~                                                                           ~
  ~ Copyright 2017 The MITRE Corporation. All Rights Reserved.                ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2017 The MITRE Corporation                                      ~
  ~                                                                           ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");           ~
  ~ you may not use this file except in compliance with the License.          ~
  ~ You may obtain a copy of the License at                                   ~
  ~                                                                           ~
  ~    http://www.apache.org/licenses/LICENSE-2.0                             ~
  ~                                                                           ~
  ~ Unless required by applicable law or agreed to in writing, software       ~
  ~ distributed under the License is distributed on an "AS IS" BASIS,         ~
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  ~
  ~ See the License for the specific language governing permissions and       ~
  ~ limitations under the License.                                            ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="org.mitre.mpf.wfm.util" use-default-filters="false">
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.util.PropertiesUtil"/>
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.service.PipelineService"/>
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.nodeManager.NodeManagerStatus"/>
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.service.NodeManagerService"/>
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.service.ServerMediaService"/>
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.service.component.ComponentDeploymentService"/>
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.service.component.ComponentStateService"/>
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.service.component.ComponentDescriptorValidator"/>
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.service.component.CustomPipelineValidator"/>
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.service.component.RemoveComponentService"/>
        <context:include-filter type="assignable" expression="org.mitre.mpf.wfm.service.component.AddComponentService"/>
    </context:component-scan>

    <context:annotation-config/>

    <import resource="applicationContext-properties.xml"/>
    <!-- <import resource="applicationContext-json.xml"/> -->

    <bean class="org.mitre.mpf.wfm.util.PropertiesUtil"/>
    <bean class="org.mitre.mpf.wfm.util.IoUtils"/>
    <bean class="org.mitre.mpf.wfm.service.PipelineServiceImpl"/>
    <bean class="org.mitre.mpf.wfm.nodeManager.NodeManagerStatus"/>
    <bean class="org.mitre.mpf.wfm.service.NodeManagerServiceImpl"/>
    <bean class="org.mitre.mpf.wfm.service.ServerMediaServiceImpl"/>
    <bean class="org.mitre.mpf.wfm.service.component.AnsibleDeploymentService"/>
    <bean class="org.mitre.mpf.wfm.service.component.ComponentStateServiceImpl"/>
    <bean class="com.fasterxml.jackson.databind.ObjectMapper"/>
    <bean class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>
    <bean class="org.mitre.mpf.wfm.service.component.ComponentDescriptorValidatorImpl"/>
    <bean class="org.mitre.mpf.wfm.service.component.ExtrasDescriptorValidatorImpl"/>
    <bean class="org.mitre.mpf.wfm.service.component.CustomPipelineValidatorImpl"/>
    <bean class="org.mitre.mpf.wfm.service.component.RemoveComponentServiceImpl"/>
    <bean class="org.mitre.mpf.wfm.service.component.AddComponentServiceImpl"/>

</beans>
