<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ NOTICE                                                                    ~
  ~                                                                           ~
  ~ This software (or technical data) was produced for the U.S. Government    ~
  ~ under contract, and is subject to the Rights in Data-General Clause       ~
  ~ 52.227-14, Alt. IV (DEC 2007).                                            ~
  ~                                                                           ~
  ~ Copyright 2019 The MITRE Corporation. All Rights Reserved.                ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2019 The MITRE Corporation                                      ~
  ~                                                                           ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");           ~
  ~ you may not use this file except in compliance with the License.          ~
  ~ You may obtain a copy of the License at                                   ~
  ~                                                                           ~
  ~    http://www.apache.org/licenses/LICENSE-2.0                             ~
  ~                                                                           ~
  ~ Unless required by applicable law or agreed to in writing, software       ~
  ~ distributed under the License is distributed on an "AS IS" BASIS,         ~
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  ~
  ~ See the License for the specific language governing permissions and       ~
  ~ limitations under the License.                                            ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="customPropFile" class="org.springframework.core.io.FileSystemResource">
        <constructor-arg><value>#{systemEnvironment['MPF_HOME']}/share/config/mpf-custom.properties</value></constructor-arg>
    </bean>

    <bean id="mediaTypesFile" class="org.springframework.core.io.FileSystemResource">
        <constructor-arg><value>#{systemEnvironment['MPF_HOME']}/share/config/mediaType.properties</value></constructor-arg>
    </bean>

    <bean id="videoComponentPropsFile" class="org.springframework.core.io.FileSystemResource">
        <constructor-arg><value>#{systemEnvironment['MPF_HOME']}/share/config/mpf-video-component.properties</value></constructor-arg>
    </bean>

    <bean id="imageComponentPropsFile" class="org.springframework.core.io.FileSystemResource">
        <constructor-arg><value>#{systemEnvironment['MPF_HOME']}/share/config/mpf-image-component.properties</value></constructor-arg>
    </bean>

    <bean id="audioComponentPropsFile" class="org.springframework.core.io.FileSystemResource">
        <constructor-arg><value>#{systemEnvironment['MPF_HOME']}/share/config/mpf-audio-component.properties</value></constructor-arg>
    </bean>

    <bean id="unknownComponentPropsFile" class="org.springframework.core.io.FileSystemResource">
        <constructor-arg><value>#{systemEnvironment['MPF_HOME']}/share/config/mpf-unknown-component.properties</value></constructor-arg>
    </bean>

    <beans profile="default">
        <!-- Order is important. Files at the top override files at the bottom. -->
        <util:list id="propFiles" value-type="org.springframework.core.io.Resource">
            <ref bean="customPropFile" />
            <value>classpath:properties/mpf-private.properties</value>
            <value>classpath:properties/mpf.properties</value>
        </util:list>
    </beans>

    <beans profile="jenkins">
        <!-- Order is important. Files at the top override files at the bottom. -->
        <util:list id="propFiles" value-type="org.springframework.core.io.Resource">
            <ref bean="customPropFile" />
            <value>classpath:properties/mpf-private.properties</value>
            <value>classpath:properties/mpf-jenkins.properties</value>
            <value>classpath:properties/mpf.properties</value>
        </util:list>
    </beans>

    <beans>
        <bean id="mpfPropertiesConfigBuilder" class="org.mitre.mpf.wfm.util.MpfPropertiesConfigurationBuilder">
            <property name="customPropFile" ref="customPropFile" />
            <property name="propFiles" ref="propFiles" />
        </bean>

        <bean id="mpfPropertiesConfig" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
            <property name="targetObject" ref="mpfPropertiesConfigBuilder" />
            <property name="targetMethod" value="getCompleteConfiguration" />
        </bean>

        <!-- Make properties available to Spring -->
        <!-- This is necessary so that beans in other applicationContext*.xml files can reference property values by key -->
        <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="properties">
                <bean class="org.apache.commons.configuration2.spring.ConfigurationPropertiesFactoryBean">
                    <constructor-arg>
                        <ref bean="mpfPropertiesConfig" />
                    </constructor-arg>
                </bean>
            </property>
        </bean>
     </beans>

 </beans>
