<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ NOTICE                                                                    ~
  ~                                                                           ~
  ~ This software (or technical data) was produced for the U.S. Government    ~
  ~ under contract, and is subject to the Rights in Data-General Clause       ~
  ~ 52.227-14, Alt. IV (DEC 2007).                                            ~
  ~                                                                           ~
  ~ Copyright 2018 The MITRE Corporation. All Rights Reserved.                ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2018 The MITRE Corporation                                      ~
  ~                                                                           ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");           ~
  ~ you may not use this file except in compliance with the License.          ~
  ~ You may obtain a copy of the License at                                   ~
  ~                                                                           ~
  ~    http://www.apache.org/licenses/LICENSE-2.0                             ~
  ~                                                                           ~
  ~ Unless required by applicable law or agreed to in writing, software       ~
  ~ distributed under the License is distributed on an "AS IS" BASIS,         ~
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  ~
  ~ See the License for the specific language governing permissions and       ~
  ~ limitations under the License.                                            ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd"
       profile="prod,default,jenkins">

    <!-- MPF JMS Configuration -->

    <bean id="jms" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="configuration" ref="jmsConfig" />
    </bean>

    <bean id="jmsConfig" class="org.apache.camel.component.jms.JmsConfiguration">
        <property name="connectionFactory" ref="jmsProxyFactory"/>
        <property name="concurrentConsumers" value="2" />
        <property name="transacted" value="false" />
        <property name="deliveryPersistent" value="false" />
        <property name="maxConcurrentConsumers" value="30" />
        <property name="cacheLevelName" value="CACHE_CONSUMER" />
        <property name="preserveMessageQos" value="true"/>
        <property name="transactionTimeout" value="600"/><!-- in seconds -->
    </bean>

    <bean id="jmsProxyFactory" class="org.springframework.jms.connection.TransactionAwareConnectionFactoryProxy">
        <property name="targetConnectionFactory" ref="jmsFactory"/>
        <property name="synchedLocalTransactionAllowed" value="true" />
    </bean>

    <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory" init-method="start" destroy-method="stop">
        <property name="connectionFactory" ref="broker" />
        <property name="idleTimeout" value="0" />
    </bean>

    <bean id="broker" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${activemq.hostname}" />
    </bean>

    <!-- Output Object JMS Configuration -->

    <bean id="output" class="org.apache.activemq.camel.component.ActiveMQComponent">
        <property name="configuration" ref="outputConfig" />
    </bean>

    <bean id="outputConfig" class="org.apache.camel.component.jms.JmsConfiguration">
        <property name="connectionFactory" ref="outputProxyFactory"/>
        <property name="concurrentConsumers" value="2" />
        <property name="transacted" value="false" />
        <property name="deliveryPersistent" value="false" />
        <property name="maxConcurrentConsumers" value="30" />
        <property name="cacheLevelName" value="CACHE_CONSUMER" />
        <property name="preserveMessageQos" value="true"/>
        <property name="transactionTimeout" value="600"/><!-- in seconds -->
    </bean>

    <bean id="outputProxyFactory" class="org.springframework.jms.connection.TransactionAwareConnectionFactoryProxy">
        <property name="targetConnectionFactory" ref="outputFactory"/>
        <property name="synchedLocalTransactionAllowed" value="true" />
    </bean>

    <bean id="outputFactory" class="org.apache.activemq.pool.PooledConnectionFactory" init-method="start" destroy-method="stop">
        <property name="connectionFactory" ref="outputBroker" />
        <property name="idleTimeout" value="0" />
    </bean>

    <bean id="outputBroker" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="${mpf.output.objects.activemq.hostname}" />
    </bean>
</beans>