<?xml version="1.0" encoding="UTF-8"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ NOTICE                                                                    ~
  ~                                                                           ~
  ~ This software (or technical data) was produced for the U.S. Government    ~
  ~ under contract, and is subject to the Rights in Data-General Clause       ~
  ~ 52.227-14, Alt. IV (DEC 2007).                                            ~
  ~                                                                           ~
  ~ Copyright 2018 The MITRE Corporation. All Rights Reserved.                ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2018 The MITRE Corporation                                      ~
  ~                                                                           ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");           ~
  ~ you may not use this file except in compliance with the License.          ~
  ~ You may obtain a copy of the License at                                   ~
  ~                                                                           ~
  ~    http://www.apache.org/licenses/LICENSE-2.0                             ~
  ~                                                                           ~
  ~ Unless required by applicable law or agreed to in writing, software       ~
  ~ distributed under the License is distributed on an "AS IS" BASIS,         ~
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  ~
  ~ See the License for the specific language governing permissions and       ~
  ~ limitations under the License.                                            ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/util
                           http://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="customPropFile" class="org.springframework.core.io.FileSystemResource">
        <constructor-arg><value>#{systemEnvironment['MPF_HOME']}/config/mpf-custom.properties</value></constructor-arg>
    </bean>

    <beans profile="default">
        <util:list id="propFiles" value-type="org.springframework.core.io.Resource">
            <value>classpath:properties/mpf.properties</value>
            <value>classpath:properties/mpf-private.properties</value>
            <ref bean="customPropFile" />
        </util:list>
    </beans>

    <beans profile="jenkins">
        <util:list id="propFiles" value-type="org.springframework.core.io.Resource">
            <value>classpath:properties/mpf.properties</value>
            <value>classpath:properties/mpf-jenkins.properties</value>
            <value>classpath:properties/mpf-private.properties</value>
            <ref bean="customPropFile" />
        </util:list>
    </beans>

    <beans>
        <bean id="mediaTypeProperties"
              class="org.springframework.beans.factory.config.PropertiesFactoryBean">
            <property name="ignoreResourceNotFound" value="true"/>
            <property name="locations">
                <list>
                    <value>classpath:properties/mediaType.properties</value>
                    <value type="org.springframework.core.io.FileSystemResource">${config.mediaTypes.file}</value>
                </list>
            </property>
        </bean>

        <!-- Make properties available to Spring -->
        <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
            <property name="ignoreResourceNotFound" value="true"/>
            <property name="locations" ref="propFiles" />
        </bean>

        <!-- Registers a java.util.Properties object that can be injected.
             The properties object will contain the same properties loaded by Spring. -->
        <bean class="org.springframework.beans.factory.config.PropertiesFactoryBean" id="loadedProperties">
            <property name="ignoreResourceNotFound" value="true"/>
            <property name="locations" ref="propFiles" />
        </bean>
     </beans>

 </beans>