<?xml version="1.0"?>
<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ NOTICE                                                                    ~
  ~                                                                           ~
  ~ This software (or technical data) was produced for the U.S. Government    ~
  ~ under contract, and is subject to the Rights in Data-General Clause       ~
  ~ 52.227-14, Alt. IV (DEC 2007).                                            ~
  ~                                                                           ~
  ~ Copyright 2016 The MITRE Corporation. All Rights Reserved.                ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Copyright 2016 The MITRE Corporation                                      ~
  ~                                                                           ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");           ~
  ~ you may not use this file except in compliance with the License.          ~
  ~ You may obtain a copy of the License at                                   ~
  ~                                                                           ~
  ~    http://www.apache.org/licenses/LICENSE-2.0                             ~
  ~                                                                           ~
  ~ Unless required by applicable law or agreed to in writing, software       ~
  ~ distributed under the License is distributed on an "AS IS" BASIS,         ~
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  ~
  ~ See the License for the specific language governing permissions and       ~
  ~ limitations under the License.                                            ~
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->

<configuration>
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <if condition='isNull("helloLogFile")' >
        <then>
            <property name="helloLogFile" value="${MPF_LOG_PATH}/${THIS_MPF_NODE}/log/helloWorld.log" />
        </then>
    </if>
    <!-- Logging configuration -->
    <appender name="STDOUT-INFO" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
	  <pattern>%d %p [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDOUT-DEBUG" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
	        <pattern>%d %p [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDERR" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.err</Target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
	        <pattern>%d %p [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="STDERR-WARN" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.err</Target>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
	        <pattern>%d %p [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="HELLO_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${helloLogFile}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${helloLogFile}.%d{yyyy-MM-dd}.%i</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>50MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>
        <encoder>
	        <pattern>%d %p [%thread] %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.dstovall" level="WARN"/>
    <logger name="org.springframework.context.annotation" level="WARN"/>
    <logger name="org.springframework.beans.factory" level="WARN"/>
    <logger name="org.apache.xbean.spring" level="WARN"/>
    <logger name="org.apache.activemq" level="WARN"/>
    <logger name="org.springframework.jms" level="WARN"/>
    <logger name="org.springframework.core" level="WARN"/>
    <logger name="org.mitre" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="HELLO_FILE" />
        <!-- <appender-ref ref="STDOUT-INFO"/>-->
        <!-- <appender-ref ref="STDOUT-DEBUG"/> -->
        <!-- <appender-ref ref="STDERR"/> -->
        <appender-ref ref="STDERR-WARN"/>
    </root>
</configuration>
