#############################################################################
# NOTICE                                                                    #
#                                                                           #
# This software (or technical data) was produced for the U.S. Government    #
# under contract, and is subject to the Rights in Data-General Clause       #
# 52.227-14, Alt. IV (DEC 2007).                                            #
#                                                                           #
# Copyright 2019 The MITRE Corporation. All Rights Reserved.                #
#############################################################################

#############################################################################
# Copyright 2019 The MITRE Corporation                                      #
#                                                                           #
# Licensed under the Apache License, Version 2.0 (the "License");           #
# you may not use this file except in compliance with the License.          #
# You may obtain a copy of the License at                                   #
#                                                                           #
#    http://www.apache.org/licenses/LICENSE-2.0                             #
#                                                                           #
# Unless required by applicable law or agreed to in writing, software       #
# distributed under the License is distributed on an "AS IS" BASIS,         #
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  #
# See the License for the specific language governing permissions and       #
# limitations under the License.                                            #
#############################################################################
#{{ ansible_managed }}
#JDBC Connection Settings
jdbc.username=mpf
jdbc.password={{ mpf_mysql_pw }}
jdbc.url=jdbc:simon:mysql://{{ master_host }}:3306/mpf

output.queue.url=tcp://{{ master_host }}:61616
output.site.name=MPF-{{ master_host }}

# The DEFAULT preferred length of any segments sent to the detection components. This may be overridden in a detection
# action by providing the TARGET_SEGMENT_LENGTH property.
detection.segment.target.length=1000
