#############################################################################
# NOTICE                                                                    #
#                                                                           #
# This software (or technical data) was produced for the U.S. Government    #
# under contract, and is subject to the Rights in Data-General Clause       #
# 52.227-14, Alt. IV (DEC 2007).                                            #
#                                                                           #
# Copyright 2016 The MITRE Corporation. All Rights Reserved.                #
#############################################################################

#############################################################################
# Copyright 2016 The MITRE Corporation                                      #
#                                                                           #
# Licensed under the Apache License, Version 2.0 (the "License");           #
# you may not use this file except in compliance with the License.          #
# You may obtain a copy of the License at                                   #
#                                                                           #
#    http://www.apache.org/licenses/LICENSE-2.0                             #
#                                                                           #
# Unless required by applicable law or agreed to in writing, software       #
# distributed under the License is distributed on an "AS IS" BASIS,         #
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.  #
# See the License for the specific language governing permissions and       #
# limitations under the License.                                            #
#############################################################################

 ##############################################################################
 #                        Keystore Update Instructions                        #
 ##############################################################################
 No file was found at the provided path of:

 {{ deployment_config.https.keystore_file }}

 The full path to the keystore must be written to the configuration file for
 the workflow-manager to use HTTPS. This configuration file can be found at:

                          {{ tomcat_home }}/conf/server.xml

 On line 92 of this file, you will find the HTTPS configuration settings. The
 value of 'keystoreFile' must contain the full path to your keystore file.
 After setting this value, restart the tomcat service with this command:

                        sudo systemctl restart tomcat7

 If needed, external components can be registered through the web interface.

 These instructions have been copied to:

                          /home/mpf/mpfkeystoreupdate.txt
 ##############################################################################
