
.as-sortable-item,
.as-sortable-placeholder {
    margin: 2px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
}

/* override default behavior of dropping into a specific location because we want the items in the cart to be ordered after the drop */
.as-sortable-placeholder {
    display: none !important;
}

#sortable-container {
    height: 780px;
}

.sortable-row {
    min-height: 2em;
}

.column {
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
}


/* ------------ */
#page-control-group {
    border: 1px solid #cdcdcd;
    background-color: #e6e6e6;
    padding: .4em 1em 1em 1em;
    margin-bottom: .25em;
    height: 2.5em;
}
.hspacer2em {
    padding: .5em;
}


.as-sortable-item {
    border-left-color: blue;  /* this is overridden in the directive template */
    border-left-width: 5px !important;
    border-radius: 0px;
    border-color: #cccccc;
    margin: 0px 2px -1px 2px;
    padding: 1px 0px 2px 0px;
    background-color: #fffff;
}

.as-sortable-item:hover {
    background-color: white;
}

.strikethru {
    color: #bd7575;
    text-decoration: line-through;
}

.dnd-item-name {
    padding-left: .5em;
}

.dnd-item-count-input {
    position: absolute;
    left: 215px;
    width: 2.5em;
    font-size: .95em;
    font-weight: bold;
    color: white;
    background-color: #aaaaaa;
    border: solid 0px #eeeeee;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    margin: 0px;
    text-align: center;
}

.remove-cart-icon {
    padding-top: .1em;
    font-size: 1.1em;
    color: #bd7575;
    cursor: pointer;
}

.cart {
    background-color: #eeeeee;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0px 0px .25em 0px;
    margin: 2px 4px 2px 0em;
}

.out-cart {
    width: 255px;
    float: left;
    position: relative;
    min-height: 1px;
    box-sizing: border-box;

}

.columnHeader {
    padding: .25em .5em;
    background-color: #eeeeee;
    margin-bottom: .2em;
    font-weight: bold;
    color: black;
    word-wrap: break-word;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
    z-index: -1000;
}

#catalog {
    background-color: white;
    border: 1px solid black;
}

#catalog > .columnHeader {
    color: white;
    background-color: black;
}

.add-all-services-area {
    margin-left: .5em;
    font-style: italic;
}

.cart-add-all-services-button {
    font-size: 10pt !important;
    font-style: normal;
    margin: .5em 0 1em .5em;
    padding: .2em .8em !important;
}